<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<header th:insert="/fragments/admin/fragment :: headerMain"></header>
<p>Города</p>
<h1>Пользователи</h1>

<table class="table">
  <thead>
  <tr>
    <th>Номер</th>
    <th>Почта</th>
    <th>Пароль</th>
    <th>Роль</th>
    <th>Пользователь</th>
    <th>Выбрать действие</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>
  <div th:each="el : ${accountlist}">
  <tr>
    <td th:text="${el.id}"></td>
    <td th:text="${el.email}"></td>
    <td th:text="${el.password}"></td>
    <td th:text="${el.role_id.nameRole}"></td>
    <td th:text="${el.user_id}"></td>
    <td>
      <select>
        <option>Изменить</option>
        <option>Удалить</option>
      </select>
    </td>

    <td>
      <button>Выполнить</button>
    </td>
  </tr>
  </div>
  </tbody>
</table>

<div class="wrapper">
  <a href="#demo-modal">Добавить пользователя</a>
</div>

<div id="demo-modal" class="modal">
  <div class="modal__content">

    <div>
      <input type="email"  name="email"  placeholder="Почта">
    </div>
     <div>
       <input type="text" name="password" placeholder="Пароль">
     </div>
    <div>
      <select>
        <option th:each="el : ${rolelist}" th:text="${el.nameRole}" th:value="${el.getId()}"></option>
      </select>
    </div>
     <div>
       <select>
         <option>Отсутствует</option>
         <option th:each="el : ${userlist}" th:text="${el.name_user}" th:value="${el.getId()}"></option>
       </select>
     </div>
      <input type="submit" value="Добавить">
    <a href="#" class="modal__close">&times;</a>
  </div>
</div>
</body>
</html>